<div class="title">
    <h3 class="fas fa-crown nav-link ">
        <span class="font">My Page</span>
    </h3>
</div>

<span></span>

<div class="container" px-5 px-sm-0>
  <div class="row">
    <div class="col-md-4">
      <%= attachment_image_tag @user, :user_image,format:'jpeg', fallback:"no_image.jpg",:size=>'300x300' %>
    </div>
    <div class="col-md-7 offset-md-1">
      <p>プロフィール：<%= @user.self_introduction %></p>
    </div>
  </div>
  <pre></pre>
<div class="container" px-5 px-sm-0>
  <div class="row">
        <table class="table">
            <div class="col-2">
            </div>
            <div class="col-6">
               <tr>
                 <th>ニックネーム</th>
                 <td><%= @user.nickname %></td>
               </tr>
               <tr>
                 <th>身長</th>
                 <td><%= @user.height %>cm</td>
                </tr>
                <tr>
                  <th>年齢</th>
                  <td><%= @user.age %>歳</td>
                </tr>
                <tr>
                  <th>名前</th>
                  <td><%= @user.name %></td>
                <tr>
                 <th>郵便番号</th>
                 <td><%= @user.postal_code %></td>
                </tr>
                <tr>
                 <th>住所</th>
                 <td><%= @user.address %></td>
                </tr>
                <tr>
                 <th>メールアドレス</th>
                 <td><%= @user.email %></td>
                </tr>
            </div>
        </table>
    </div>
</div>
<div class="link">
    <%= link_to "編集する", edit_user_path(@user), class:"btn btn-success" %>
    <%= link_to "配送先一覧", addresses_path, class:"btn btn-dark" %>
    <%= link_to "自分の注文履歴", orders_path, class:"btn btn-dark" %>
    <%= link_to "自分の投稿一覧", items_individual_path, class:"btn btn-dark" %>
    <%= link_to "自分の出品履歴一覧", items_exhibit_path, class:"btn btn-dark" %>
    <%= link_to "DMの履歴一覧", rooms_path, class:"btn btn-dark" %>
</div>