<div>
  <h3><%= @user.nickname %>さんの会員詳細</h3>
</div>
<table>
   <tr>
     <th>ニックネーム</th>
     <td><%= @user.nickname %></td>
   </tr>
   <tr>
     <th>アイコン</th>
     <td><%= attachment_image_tag @user, :user_image, :fill, 100, 100 %></td>
    </tr>
    <tr>
     <th>自己紹介文</th>
     <td><%= @user.self_introduction %></td>
    </tr>
    <tr>
     <th>年齢</th>
     <td><%= @user.age %></td>
    </tr>
    <tr>
     <th>身長</th>
     <td><%= @user.height %></td>
    </tr>
</table>