<div class="title">
  <h3 class="fas fa-crown nav-link ">
   <span class="font">Your Orders History</span>
  </h3>
</div>
<div class="container">
  <table>
    <thead>
     <tr>
       <th>注文した日</th>
       <th>お届け先</th>
       <th>注文した商品</th>
       <th>支払い金額</th>
       <th>注文の詳細</th>
     </tr>
    </thead>
    <tbody>
      <% @orders.each do |order|%>
        <tr>
          <td>
            <%= order.created_at.strftime('%Y/%m/%d %H:%M:%S') %>
          </td>
          <td>
            〒<%= order.postal_code %></br>
            <%= order.address %></br>
            <%= order.name%>
          </td>
          <td>
            <%= order.item.name %>
          </td>
          <td>
            <%= order.item.price %>
          </td>
          <td>
           <%= link_to "表示する", order_path(order), class:"btn btn-dark" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>