<div class="left-button">
  <%= link_to "ユーザー詳細画面に戻る", user_path(@user) %>
</div>
<div class="title">
  <h3 class="fas fa-crown nav-link ">
    <span class="font">Chat Room</span>
  </h3>
</div>
<% @entries.each do |e| %>
  <div class="user-name">
  <strong>
    <%= attachment_image_tag e.user, :user_image, :fill, 100, 100 %>
      <a class="rooms-user-link" href="/users/<%= e.user.id %>">
        <%= e.user.nickname %>さん
      </a>
  </strong>
  </div>
<% end %>
<hr>
<div class="chats">
  <div class="chat">
    <% if @messages.present? %>
      <% @messages.each do |m| %>
        <div class="chat-box">
          <div class="chat-face">
            <
             <%= attachment_image_tag m.user, :user_image, :fill, 100, 100 %>
          </div>
          <div class="chat-hukidashi"> <strong><%= m.message %></strong> <br>
            <%= m.user.nickname %><br>
            <%= m.created_at.to_s(:datetime_jp)%>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="posts">
    <%= form_for @message do |f| %>
      <%= f.text_field :message, placeholder: "メッセージを入力して下さい" , size: 70, class:"form-text-field" %>
        <%= f.hidden_field :room_id, value: @room.id %>
          <%= f.submit "投稿",class: 'form-submit'%>
    <% end %>
  </div>
</div>