<div>
  <h3>投稿内容確認画面</h3>
</div>

<p>投稿名</p>
<%= @item.name %>
<p>投稿画像</p>
<%= attachment_image_tag @item, :image, :fill, 100, 100 %>
<p>コメント</p>
<%= @item.introduction %>
<p>タグ</p>
<%= @tags %>
<p>金額</p>
<%= @item.price %>円
<%= form_with model: @item, url: items_path, local: true do |f| %>
<%= f.hidden_field :name %>
<%= f.hidden_field :image, value: @item.image %>
<%= f.hidden_field :introduction %>
<%= f.hidden_field :tag %>
<%= f.hidden_field :price %>
 <%= f.submit '投稿する', class:"btn btn-success" %>
<% end %>

