<div class="title">
    <h3 class="fas fa-crown nav-link ">
        <span class="font">Your Post Confirm</span>
    </h3>
</div>
<div class="container">
  <h4>＊以下の内容に間違いなければ「投稿」のボタンを押してください</h4>
  <div class="row">
    <div class="col-md-4">
      <h5><b>投稿する画像</b></h5>
      <pre></pre>
      <%= attachment_image_tag @item, :image, :fill, 300, 300 %>
    </div>
    <div class="col-md-7 offset-md-1">
      <pre></pre>
      <h5><b>投稿名</b></h5>
      <%= @item.name %>
      <pre></pre>
      <h5><b>コメント</b></h5>
      <%= @item.introduction %>
      <pre></pre>
      <h5><b>関連タグ</b></h5>
      <%= @tags %>
      <pre></pre>
      <h4><b>金額</b></h4>
      <%= @item.price %>円
      <%= form_with model: @item, local: true do |f| %>
      <%= f.hidden_field :name %>
      <%= f.attachment_field :image, style: "display:none" %>
      <%= f.hidden_field :introduction %>
      <%= f.hidden_field :tag, value: @tags %>
      <%= f.hidden_field :price %>
    </div>
  </div>
  <div class="link">
    <%= f.submit '投稿する', class:"btn btn-dark" %>
  </div>
  <% end %>

</div>
