<h1>商品新規登録</h1>
<%= form_with model:@item, url: items_path, local:true do |f| %>
  <h4>投稿画像</h4>
  <%= f.attachment_field :image %>
  <h4>コメント</h4>
  <%= f.text_area :introduction %>
  <h4>タグ付け</h4>

  <%= link_to "出品情報を登録する", items_comfirm_path, class:"btn btn-success" %>

  <%= f.submit '投稿', class:"btn btn-success" %>
<% end %>