<h1>投稿詳細画面</h1>
<div class="container" px-5 px-sm-0>
  <div class="row">
    <div class="col-md-4">
      <%= attachment_image_tag @item.user, :user_image, :fill, 100, 100 %>
      <%= @item.user.nickname %>
      <%= attachment_image_tag @item, :image, :fill, 400, 400 %>
      <%= @tags %>
    </div>
    <div class="col-md-7 offset-md-1">
     
  　　　<p>商品名：<%= @item.name %></p>
  　   <p>商品説明：<%= @item.introduction %></p>
      <!--<p>税込価格（税抜価格）：<%#= @item.price %></p>-->
      <%= link_to "編集する", edit_item_path(@item), class:"btn btn-success"  %>
    </div>
  </div>
</div>
