<div class="title">
    <h3 class="fas fa-crown nav-link ">
        <span class="font">Post Detail</span>
    </h3>
</div>
<div class="container" px-5 px-sm-0>
  <div class="row">
    <div class="col-md-4">
      <%= attachment_image_tag @item.user, :user_image, :fill, 100, 100 %>
      <%= link_to user_path(@user) do %>
        <%= @item.user.nickname %>
      <% end %>
      <%= attachment_image_tag @item, :image, :fill, 400, 400 %>
      <%= @tags %>
      <% if @item.favorited_by?(current_user) %>
       <p>
         <%= link_to item_favorites_path(@item), method: :delete do %>
           ♥<%= @item.favorites.count %> いいね
         <% end %>
       </p>
       <% else %>
       <p>
         <%= link_to item_favorites_path(@item), method: :post do %>
           ♡<%= @item.favorites.count %> いいね
         <% end %>
        </p>
      <% end %>
      <% if  @item.price.present? && (@user.id != current_user.id) && (@item.order_status) == "出品中" %>
        <%= link_to "購入する",  new_item_order_path(@item), class:"btn btn-success" %>
      <% end %>
    </div>
    <div class="col-md-7 offset-md-1">
      <pre></pre>
      <pre></pre>
      <pre></pre>
      <pre></pre>
  　　<p><b>タイトル</b>：<%= @item.name %></p>
  　   <p><b>説明</b>：<%= @item.introduction %></p>
  　   <% if @item.price.present? && @item.order_status == "出品中" %>
        <p><b>価格</b>：<%= @item.price %>円</p>
      <% end %>
      <div>
        <p><b>コメント件数</b>：<%= @item.comments.count %></p>
        <% @item.comments.each do |comment| %>
         <p><%= attachment_image_tag comment.user, :user_image, :fill, 30, 30 %><%= comment.user.name %><br/></p>
         <%= comment.created_at.strftime('%Y/%m/%d') %><br/><%= comment.comment %>
         <% if comment.user == current_user %>
            <div>
             <%= link_to "削除", item_comment_path(comment.item, comment), method: :delete %>
            </div>
          <% end %>
        <% end %>
      </div>
      <div>
        <%= form_with(model:[@item, @comment], local: true) do |f| %>
         <%= f.text_area :comment, rows:'5',placeholder: "コメントをここに" %>
         <%= f.submit "コメントをする" %>
        <% end %>
      </div>
      <% if @item.user == current_user %>
       <div>
         <%= link_to "編集", edit_item_path(@item), class:"btn btn-success"  %>
       </div>
      <% end %>
    </div>
  </div>
</div>